* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.headers {
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
}

header{
    display:grid;
    grid-template-rows: 30px;
}

.logo-icon {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    color: white;
}

.logo-icon img{
    height: 70px;
}

.hamburger-menu{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-bottom: 15px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.navigation {
    display: none;
}

.show {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.nav-links-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: bold;
}

.nav-link {
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 900px;
}

.nav-link a:hover {
    color: #F48E28;
}

.nav-btn {
    border: 0;
    background-color: white;
    color: black;
    font-size: 14px;
    width: 100px;
    padding: 0px 10px 10px 10px;
    border-radius: 4px;
    margin-top: 0px;
    font-weight: bold;
}

.nav-btn:hover{
    color: tomato;
}

.container1{
    text-align: center;
}

span{
    color: #F48E28;
}

.container1 .big-span h1{
    font-size: 40px;
    font-weight: 500px;
    color: black;
    margin-bottom: 20px;
}

.lorem1{
    font-size: 18px;
    font-weight: 500px;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

button.order{
    color: #FFFFFF;
    background-image: linear-gradient(#EFAB68, #F48E28);
    width: 310px;
    height: 50px;
    font-size: 18px;
    font-weight: 0px;
    border-radius: 10px;
    padding: 15px 50px 15px 50px;
    margin-left: 30px;
    margin-right: 30px;
    border: none;
    margin: auto;
    text-align: center;
}

.hero-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.container2{
    background-color: #FFFFFF;
    height: fit-content;
    width: 310px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    color: black;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
}

.info{
    padding-left: 20px;
    padding-right: 20px;
}

.bold-info{
    font-size: 18px;
    font-weight: bolder;
}

.small-info{
    font-size: 14px;
    padding-bottom: 30px;
}

.menu{
    width: 50px;
    height: 15px;
    font-size: 18px;
    font-weight: 800;
    color: #F48E28;
    margin-bottom: 20px;
    margin: auto;
}

.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

button.see-all-menu{
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: 300px;
    background-color: #F48E28;
    border: 0px;
    border-radius: 4px;
    color: #FFFFFF;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general-wrapper2{
    background-color: black;
    height: fit-content;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.burger{
    background-image: url(./assets/burger-sandwich.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
    width: 355px;
    height: 320px;
}

.subscribe1 h3{
    width: 300px;
    height: 30px;
    font-size: 18px;
    font-weight: 800px;
    margin: 20px 30px 20px 30px;
    text-align: center;
}

.lorem2{
    width: 330px;
    height: 150px;
    font-size: 16px;
    font-weight: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 15px;
}

.email{
    width: 340px;
    height: 50px;
    font-size: 16px;
    font-weight: 500px;
    border: 0px;
    padding-left: 20px;
    border-radius: 4px;
}

.subscribe2{
    width: 340px;
    height: 50px;
    font-size: 18px;
    font-weight: 600px;
    color: #FFFFFF;
    background-color: #F48E28;
    margin-top: 15px;
    border: 0px;
    border-radius: 4px;
    margin-bottom: 70px;
}

.container4{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 100px 0px;
}

.food{
    padding-left: 20px;
}

.logo img{
    width: 150px;
    margin-bottom: 30px;
}

.lorem3{
    width: 285px;
    height: 73px;
    font-size: 18px;
    font-weight: 500px;
    color: #B6B6B6;
}

.fb{
    width: 45px;
    height: 45px;
    padding-top: 10px;
}

.twi{
    width: 45px;
    height: 45px;
    padding-top: 10px;
}

.linked{
    width: 45px;
    height: 45px;
    padding-top: 10px;
}

.insta{
    width: 45px;
    height: 45px;
    padding-top: 10px;
}

.user{
    width: 200px;
    height: 32px;
    font-size: 26px;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 26px;
    font-weight: 700px;
    padding-left: 20px;
}

.contact-us1{
    width: 200px;
    height: 32px;
    font-size: 26px;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 26px;
    font-weight: 700px;
    padding-left: 20px;
}

.about-us{
    font-size: 18px;
    font-weight: 500px;
    color: #B6B6B6;
    padding-top: 20px;
    padding-left: 20px;
}

.contact-us2{
    font-size: 18px;
    font-weight: 500px;
    color: #B6B6B6;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 20px;
}


@media  screen and (min-width: 768px) and (max-width: 1600px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }
    
    
    .headers {
        background-color: white;
        display: flex;
        padding: 20px;
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .logo-icon {
        display: flex;
        justify-content: space-between;
        align-items: left;
        width: 800px;
        color: white;
    }

    .logo-icon img{
        width: 90px;
        height: 60px;
        margin-top: 20px;
    }
    
    .navigation {
        display: inline-flex;
        align-items: center;

    }

    .hamburger-menu{
        display: none;
    }
    
    .nav-links-wrap {
        gap: 80px;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 70x;
        margin-top: 0px;
    }
    
    .nav-link {
        list-style: none;
    }
    
    .nav-link a {
        text-decoration: none;
        color: black;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: bold;
    }
    
    .nav-link a:hover {
        color: #F48E28;
    }
    
    .nav-btn {
        border: 0px;
        background-color: white;
        color: black;
        font-size: 14px;
        font-weight: bold;
        padding: 0px;
        text-align: right;
        border-radius: 4px;
        width: 85px;
    }
    
    .nav-btn:hover{
        color: tomato;
    }
    
    
    body{
        background-color: #FFFFFF;
    }
    
    .general-wrapper1{
        display: flex;
        margin: 50px;
        margin-left: 70px;
    }
    
    .container1 .big-span h1{
         width: 600px;
         height: 370px;
         font-size: 95px;
         font-weight: 700px;
         color: black;
         margin-bottom: 10px;
         text-align: left;
         float: left;
    }
    
    .big-span h1 span{
        color: #F48E28;
    }
    
    .lorem1{
        width: 620px;
        height: 75px;
        font-size: 18px;
        font-weight: 500px;
        margin-bottom: 50px;
        float: left;
        text-align: left;
        padding-left: 0px;
    }
    
    button.order{
        color: #FFFFFF;
        background-image: linear-gradient(#EFAB68, #F48E28);
        width: 230px;
        height: 40px;
        font-weight: 600;
        border-radius: 15px;
        float: left;
        padding: 25px 30px 45px 30px;
        border: none;
    }
    
    .hero-wrapper{
        background: url(./assets/hero-image.png);
        width: 617px;
        height: 809px;
        margin-top: 0px;
    }
    
    .container2{
        background-color: #FFFFFF;
        height: 154px;
        width: 1200px;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        color: black;
        display: flex;
        margin: auto;
        padding-left: 50px;
        margin-top: 100px;
        margin-bottom: 70px;
        align-content: center;
        justify-content: space-between;
    }
    
    .info{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .bold-info{
        font-size: 16px;
        font-weight: bold;
        width: 234px;
        height: 22px;
        text-align: center;
    }
    
    .small-info{
        font-size: 11px;
        font-weight: 100px;
        width: 200px;
        height: 22px;
        padding-left: 30px;
        text-align: center;
    }
    
    .menu{
        width: 84px;
        height: 32px;
        font-size: 26px;
        font-weight: 700;
        color: #F48E28;
        margin-bottom: 30px;
        margin: auto;
    }
    
    .container3{
        margin-left: 40px;
        display: inline-block;
        flex-direction: row;
    }
    
    button.see-all-menu{
        width: 231px;
        height: 50px;
        font-size: 18px;
        font-weight: 600px;
        background-color: #F48E28;
        border: 0px;
        border-radius: 4px;
        color: #FFFFFF;
        margin: auto;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .general-wrapper2{
        display: flex;
        background-color: black;
        color: #FFFFFF;
        flex-direction: row;
    }
    
    .burger{
        background-image: url(./assets/burger-sandwich.png);
        width: 612px;
        height: 530px;
        margin-right: 100px;
        margin-left: 20px;
        justify-content: left;
    }
    
    .sub1{
        padding-top: 130px;
    }

    .subscribe1 h3{
        width: 590px;
        height: 44px;
        font-size: 36px;
        font-weight: 700px;
        margin-right: 40px;
        justify-content: right;
    }
    
    .lorem2{
        width: 500px;
        height: 75px;
        font-size: 18px;
        font-weight: 500px;
        margin-bottom: 30px;
        margin-top: 10px;
        margin-right: 70px;
        float: right;
        text-align: left;
    }
    
    .email{
        width: 350px;
        height: 50px;
        font-size: 16px;
        font-weight: 500px;
        border: 0px;
        padding-left: 20px;
        margin-right: 30px;
        border-radius: 4px;
        justify-content: right;
    }
    
    .subscribe2{
        width: 140px;
        height: 50px;
        font-size: 18px;
        font-weight: 600px;
        color: #FFFFFF;
        background-color: #F48E28;
        border: 0px;
        border-radius: 4px;
        justify-content: right;
    }
    
    .container4{
        display: flex;
        flex-direction: row;
        background-color: #FFFFFF;
        padding: 150px 100px;
        justify-content: space-between;
    }
    
    .food{
        padding-left: 50px;
    }
    
    .logo{
        width: 185px;
        height: 108px;
    }
    
    .lorem3{
        width: 285px;
        height: 73px;
        font-size: 18px;
        font-weight: 500px;
        color: #B6B6B6;
    }
    
    .fb{
        width: 42px;
        height: 42px;
        padding-top: 10px;
    }
    
    .twi{
        width: 42px;
        height: 42px;
        padding-top: 10px;
    }
    
    .linked{
        width: 42px;
        height: 42px;
        padding-top: 10px;
    }
    
    .insta{
        width: 42px;
        height: 42px;
        padding-top: 10px;
    }
    
    .user{
        width: 150px;
        height: 32px;
        font-size: 26px;
        padding-top: 30px;
        padding-bottom: 40px;
        font-size: 26px;
        font-weight: 700px;
    }
    
    .contact-us1{
        width: 200px;
        height: 32px;
        font-size: 26px;
        padding-top: 30px;
        padding-bottom: 40px;
        font-size: 26px;
        font-weight: 700px;
    }
    
    .about-us{
        font-size: 18px;
        font-weight: 500px;
        color: #B6B6B6;
        padding-top: 20px;
    }
    
    .contact-us2{
        font-size: 18px;
        font-weight: 500px;
        color: #B6B6B6;
        padding-top: 20px;
        padding-right: 50px;
    }
}